Repository dan-alin/oint: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

feat: accept/reject message
  src/routes/appointments-invited/+page.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

chore: remove console log
  src/firebase.mjs
Due: none

fix: friend list pagination
  src/routes/friend-requests/+page.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

fix: friend list pagination
  src/routes/friends-list/+page.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

fix: refactor createAppointmentsModal
  src/components/CreateAppointmentModal.svelte
  src/components/create-appointment-modal/CreateAppointmentModal.svelte
  src/components/create-appointment-modal/DateAndHoursForm.svelte
  src/components/create-appointment-modal/ImageForm.svelte
  src/components/create-appointment-modal/NameDescriptionForm.svelte
  src/components/create-appointment-modal/SelectLocationsForm.svelte
  src/models/appointment.ts
  src/routes/appointments/+page.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

fix: format
  src/components/create-appointment-modal/DateAndHoursForm.svelte
  src/components/create-appointment-modal/ImageForm.svelte
  src/components/create-appointment-modal/NameDescriptionForm.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

refactor: events
  src/components/AddInveteesModal.svelte
  src/components/AppointmentCard.svelte
  src/components/Drawer.svelte
  src/components/Header.svelte
  src/firebase.mjs
  src/models/appointment.ts
  src/models/invitation.ts
  src/routes/+layout.svelte
  src/routes/appointments-invited/+page.server.ts
  src/routes/appointments-invited/+page.svelte
  src/routes/appointments/+page.server.ts
  src/routes/appointments/+page.svelte
  src/routes/appointments/[appointmentId]/+page.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

feat: bottom navigation wip
  src/components/AppointmentsList.svelte
  src/components/BottomNav.svelte
  src/firebase.js
  src/stores/apointments.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

feat: bottom nav color for current path
  src/components/BottomNav.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

fix: cancel appointment
  src/components/AppointmentsList.svelte
  src/components/BottomNav.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

feat: add vote
  src/components/AppointmentCard.svelte
  src/components/BottomNav.svelte
  src/components/Checkbox.svelte
  src/models/locations.ts
  src/routes/+layout.svelte
  src/routes/api/search-users/+server.ts
  src/routes/api/unvote/+server.ts
  src/routes/api/vote/+server.ts
  src/routes/appointments/+page.svelte
  src/routes/appointments/[appointmentId]/+page.svelte
  src/routes/login/+page.svelte
  src/stores/user.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

fix: remove log, try catch and centralize host
  .env.example
  src/components/AppointmentCard.svelte
  src/components/AppointmentsList.svelte
  src/components/BottomNav.svelte
  src/routes/api/accept-friend-request/+server.ts
  src/routes/api/accept-invitation/+server.ts
  src/routes/api/add-friend/+server.ts
  src/routes/api/add-invitee/+server.ts
  src/routes/api/appointments-invited/+server.ts
  src/routes/api/appointments/+server.ts
  src/routes/api/create-appointment/+server.ts
  src/routes/api/delete-appointment/+server.ts
  src/routes/api/delete-invitation/+server.ts
  src/routes/api/friends-list/+server.ts
  src/routes/api/friends-pending/+server.ts
  src/routes/api/get-appointment/+server.ts
  src/routes/api/login/+server.ts
  src/routes/api/places/+server.ts
  src/routes/api/reject-invitation/+server.ts
  src/routes/api/remove-friend/+server.ts
  src/routes/api/search-users/+server.ts
  src/routes/api/unvote/+server.ts
  src/routes/api/user/+server.ts
  src/routes/api/vote/+server.ts
  src/routes/appointments/+page.server.ts
  src/routes/appointments/[appointmentId]/+page.server.ts
  src/routes/appointments/[appointmentId]/+page.svelte
  src/routes/friend-requests/+page.server.ts
  src/routes/friend-requests/+page.svelte
  src/routes/friends-list/+page.server.ts
  src/routes/friends-list/+page.svelte
  src/routes/login/+page.svelte
  src/routes/search-friends/+page.svelte
  src/routes/sign-up/+page.server.ts
  src/routes/sign-up/+page.svelte
  src/utils/api-call.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

fix: externalize location in appointment detail
  src/components/appointment-detail/AppointmentLocationItem.svelte
  src/routes/appointments/[appointmentId]/+page.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

feat: detail invitations
  src/components/AppointmentCard.svelte
  src/components/AppointmentsList.svelte
  src/components/BottomNav.svelte
  src/components/Header.svelte
  src/models/appointment.ts
  src/models/index.ts
  src/models/invitation.ts
  src/routes/+layout.svelte
  src/routes/appointments/+page.server.ts
  src/routes/appointments/+page.svelte
  src/routes/appointments/[appointmentId]/+page.server.ts
  src/routes/appointments/[appointmentId]/+page.svelte
  src/routes/friends-list/+page.svelte
  src/routes/login/+page.svelte
  src/routes/search-friends/+page.svelte
  src/stores/apointments.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

feat: use import.meta.env for vvariables
  .env.example
  src/components/Header.svelte
  src/routes/api/accept-friend-request/+server.ts
  src/routes/api/accept-invitation/+server.ts
  src/routes/api/add-friend/+server.ts
  src/routes/api/add-invitee/+server.ts
  src/routes/api/appointments-invited/+server.ts
  src/routes/api/appointments/+server.ts
  src/routes/api/create-appointment/+server.ts
  src/routes/api/delete-appointment/+server.ts
  src/routes/api/delete-invitation/+server.ts
  src/routes/api/friends-list/+server.ts
  src/routes/api/friends-pending/+server.ts
  src/routes/api/get-appointment/+server.ts
  src/routes/api/login/+server.ts
  src/routes/api/places/+server.ts
  src/routes/api/reject-invitation/+server.ts
  src/routes/api/remove-friend/+server.ts
  src/routes/api/search-users/+server.ts
  src/routes/api/unvote/+server.ts
  src/routes/api/user/+server.ts
  src/routes/api/vote/+server.ts
  src/routes/appointments/+page.server.ts
  src/routes/appointments/[appointmentId]/+page.server.ts
  src/routes/friend-requests/+page.server.ts
  src/routes/friends-list/+page.server.ts
  src/routes/sign-up/+page.server.ts
  static/android-chrome-192x192.png
  static/android-chrome-512x512.png
  static/apple-touch-icon.png
  static/favicon-16x16.png
  static/favicon-32x32.png
  static/favicon.ico
  static/favicon.svg
  static/pwa-192x192.png
  static/pwa-512x512.png
  vite.config.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

fix: favicons
  src/app.html
  src/routes/login/+page.server.ts
  src/routes/sign-up/+page.server.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

fix: handle votes show logic
  src/components/AppointmentCard.svelte
  src/components/appointment-detail/AppointmentLocationItem.svelte
  src/routes/appointments/[appointmentId]/+page.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

refactor: web manifest
  src/app.css
  src/app.html
  src/components/AppointmentsList.svelte
  src/routes/+layout.svelte
  src/routes/appointments/+page.svelte
  static/oin.webmanifest
  tailwind.config.cjs
  vite.config.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

fix: rever css scroll
  src/app.css
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

test: overscroll behavior for all app
  src/app.css
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

feat: save token
  src/routes/+layout.svelte
  src/routes/api/add-token-device/+server.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

fix: add dependencies
  package-lock.json
  package.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

fix: favicon
  static/favicon.ico
Due: none

feat: reload prompt
  src/app.html
  src/components/Drawer.svelte
  src/lib/ReloadPrompt.svelte
  src/routes/+layout.svelte
  static/oin.webmanifest
  vite.config.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

chore: manifest
  static/manifest.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

feat: add invitees if th user is the creator of the appointment
  src/routes/appointments/[appointmentId]/+page.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

fix: display pwa
  static/manifest.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

fix: sw
  src/lib/ReloadPrompt.svelte
  src/prompt-sw.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

test: manifest
  static/manifest.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

feat: removed prerender in layout
  src/routes/+page.ts
  static/firebase-messaging-sw.js
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

feat: update user store after login
  src/routes/appointments/[appointmentId]/+page.svelte
  src/routes/login/+page.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

feat: precache index
  src/prompt-sw.ts
  static/manifest.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

test: log env
  src/prompt-sw.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

feat: production env
  package.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

test: import meta env
  package.json
  src/prompt-sw.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

test: prompt-sw
  package.json
  src/prompt-sw.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

removed log
  src/prompt-sw.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

test: cache pages
  svelte.config.js
  vite.config.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

test: cache pages
  src/prompt-sw.ts
  svelte.config.js
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Path conditions:
  prettier --write --plugin-search-dir=.: any of: *.{js,ts,css,scss,postcss,md,json,svelte}
  prettier --check --plugin-search-dir=.: any of: *.{js,ts,css,scss,postcss,md,json,svelte}
  eslint: any of: *.{js,ts,svelte}
