Repository dan-alin/oint: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

fix: menu remove friends
  src/components/friends/FriendCard.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

fix: add stop propagation
  src/components/friends/FriendCard.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

fix: add tabinde to ul
  src/components/friends/FriendCard.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

fix: remove stoppropagation
  src/components/friends/FriendCard.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

fix: hotfix to invite friends to appointment
  src/components/AddInveteesModal.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

feat(packages): add commitizen cz-conventional-changelog
  package-lock.json
  package.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

feat(husky): made hooks executables
  .husky/commit-msg
  .husky/pre-commit
Due: none

feat(.github): cI
  .github/workflows/changelog.yml
  package.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

fix(changelog): changelog action
  .github/workflows/changelog.yml
Due: none

fix(changelog.yml): removed tag
  .github/workflows/changelog.yml
Due: none

fix(changelog.yml): text toTag
  .github/workflows/changelog.yml
Due: none

test: github action
  .github/workflows/changelog.yml
  package.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

feat: change github actions
  .github/workflows/changelog.yml
  CHANGELOG.md
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

chore: 0.0.2
  package.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

chore: github action release please
  .github/workflows/changelog.yml
  package-lock.json
  package.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

chore: format github action
  .github/workflows/changelog.yml
Due: none

chore(version): 0.0.3
  package.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

fix(workflow): change branch from cz to main
  .github/workflows/changelog.yml
  package.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

refactor(changelog): remvoed changelog
  CHANGELOG.md
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

fix(svelte.comnfig): edit base path and start url
  vite.config.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

fix(vite.config): rollback scope in dev
  vite.config.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

refactor(fonts): add raleways font, icons as font and refactor where Icon comp is used
  src/app.css
  src/components/AppointmentCard.svelte
  src/components/Icon.svelte
  src/components/appointment-detail/FriendsBadge.svelte
  src/components/appointments/AppointmentCard.svelte
  src/components/appointments/AppointmentsList.svelte
  src/components/appointments/NoAppointments.svelte
  src/components/bottom-nav/BottomNav.svelte
  src/components/bottom-nav/NavItem.svelte
  src/components/friends/FriendCard.svelte
  src/enums.ts
  src/routes/login/+page.svelte
  static/fonts/Raleway/Raleway-Regular.ttf
  static/fonts/icomoon.eot
  static/fonts/icomoon.svg
  static/fonts/icomoon.ttf
  static/fonts/icomoon.woff
  tailwind.config.cjs
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

fix(prettierrc & icon): add tabWidth to prrettierrc and fixed type in Icon comp
  .prettierrc
  src/components/Icon.svelte
  src/components/friends/AddFriendCard.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

feat: profile section
  src/enums.ts
  src/models/user.ts
  src/routes/profile/+page.server.ts
  src/routes/profile/+page.svelte
  src/routes/profile/account-info/+page.svelte
  static/icons/edit.svg
  static/icons/right-arrow.svg
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

feat(ci): add format and lint action
  .github/workflows/changelog.yml
  .github/workflows/format-and-lint.yaml
  .github/workflows/release.yaml
  .idea/workspace.xml
  package.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

fix(ci): move continue-on-error from job to task
  .github/workflows/format-and-lint.yaml
  .idea/workspace.xml
Due: none

feat(ci): update format-and-lint action
  .github/workflows/format-and-lint.yaml
Due: none

fix(ci): add push as workflow rule
  .github/workflows/format-and-lint.yaml
  .idea/workspace.xml
Due: none

fix(ci): remove logs_url function
  .github/workflows/format-and-lint.yaml
  .idea/workspace.xml
Due: none

style(icons): add icon-right-arrow & icon-edit
  src/app.css
  src/enums.ts
  static/fonts/icomoon.eot
  static/fonts/icomoon.svg
  static/fonts/icomoon.ttf
  static/fonts/icomoon.woff
  static/fonts/selection.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

fix: size icon
  src/routes/profile/+page.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

fix: font arrow right
  src/routes/profile/+page.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

feat(ci): remove matrix
  .github/workflows/format-and-lint.yaml
  .idea/workspace.xml
Due: none

feat(ci): update job summary
  .github/workflows/format-and-lint.yaml
  .idea/workspace.xml
Due: none

feat(ci): update workflow comments
  .github/workflows/format-and-lint.yaml
  .idea/workspace.xml
Due: none

feat(ci): update outputs
  .github/workflows/format-and-lint.yaml
  .gitignore
  .idea/workspace.xml
  scripts/test.sh
Due: none

feat(ci): update pipeline
  .github/workflows/format-and-lint.yaml
  .idea/workspace.xml
  scripts/test.sh
Due: none

feat(ci): update workflow order
  .github/workflows/format-and-lint.yaml
  .idea/workspace.xml
  scripts/test.sh
  {}
Due: none

fix(ci): indentation on row 130
  .github/workflows/format-and-lint.yaml
  .idea/workspace.xml
Due: none

chore(package.json): adds --open argument on dev script
  package.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

Path conditions:
  prettier --write --plugin-search-dir=.: any of: *.{js,ts,css,scss,postcss,md,json,svelte}
  prettier --check --plugin-search-dir=.: any of: *.{js,ts,css,scss,postcss,md,json,svelte}
  eslint: any of: *.{js,ts,svelte}
