Repository dan-alin/oint: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

feat: setup theme switching
  src/app.css
  src/app.html
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

fix(ci): update checks comparison
  .github/workflows/format-and-lint.yaml
  .idea/workspace.xml
Due: none

Revert "fix(ci): update checks comparison"
  .github/workflows/format-and-lint.yaml
  .idea/workspace.xml
Due: none

fix(ci): remove booleans from action
  .github/workflows/format-and-lint.yaml
  .idea/workspace.xml
Due: none

feat(ci): using envs
  .github/workflows/format-and-lint.yaml
Due: none

fix(ci): update envs variables
  .github/workflows/format-and-lint.yaml
Due: none

fix(ci): use single quotes
  .github/workflows/format-and-lint.yaml
Due: none

fix(ci): use single quotes
  .github/workflows/format-and-lint.yaml
  .idea/workspace.xml
Due: none

feat(ci): use envs for output prining
  .github/workflows/format-and-lint.yaml
  .idea/workspace.xml
  scripts/test.sh
Due: none

fix: fixes theme setup
  src/app.css
  src/app.html
  tailwind.config.cjs
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

fix(fonts): adds medium, semibold and bold fonts
  src/app.css
  static/fonts/Raleway/Raleway-Bold.ttf
  static/fonts/Raleway/Raleway-Medium.ttf
  static/fonts/Raleway/Raleway-SemiBold.ttf
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

fix(ci): remove double quotes for variables
  .github/workflows/format-and-lint.yaml
  .idea/workspace.xml
Due: none

fix(ci): use single quotes for variables
  .github/workflows/format-and-lint.yaml
  .idea/workspace.xml
Due: none

fix(ci): add $ sign to variables
  .github/workflows/format-and-lint.yaml
Due: none

fix(app.css): fix font path
  src/app.css
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

feat(ci): add artifacts
  .github/workflows/format-and-lint.yaml
Due: none

feat(ci): put downloaded files as envs
  .github/workflows/format-and-lint.yaml
  .idea/workspace.xml
Due: none

fix(ci): indentation
  .github/workflows/format-and-lint.yaml
  .idea/workspace.xml
Due: none

perf(ci): remove all useless steps
  .github/workflows/format-and-lint.yaml
Due: none

feat(ci): use always() function
  .github/workflows/format-and-lint.yaml
Due: none

feat(ci): add vercel deploy url
  .github/workflows/format-and-lint.yaml
Due: none

perf(ci): rename comment heading
  .github/workflows/format-and-lint.yaml
Due: none

feat(ci): use env variables
  .github/workflows/format-and-lint.yaml
  .idea/workspace.xml
Due: none

fix(ci): remove id from test step
  .github/workflows/format-and-lint.yaml
  .idea/workspace.xml
Due: none

fix(ci): add prints
  .github/workflows/format-and-lint.yaml
Due: none

fix(ci): update envs
  .github/workflows/format-and-lint.yaml
  .github/workflows/release.yaml
  .idea/workspace.xml
Due: none

fix(ci): typo on pipeline
  .github/workflows/format-and-lint.yaml
  .idea/workspace.xml
Due: none

fix(ci): update the envs
  .github/workflows/format-and-lint.yaml
Due: none

fix(ci): move the trucate outside envs
  .github/workflows/format-and-lint.yaml
Due: none

fix: remove trucation
  .github/workflows/format-and-lint.yaml
Due: none

feat(ci): update release workflow
  .github/workflows/release.yaml
  .idea/workspace.xml
Due: none

fix(ci): remove truncation
  .github/workflows/format-and-lint.yaml
  .idea/workspace.xml
Due: none

feat(ci): github actions (#156)
  .github/workflows/changelog.yml
  .github/workflows/format-and-lint.yaml
  .github/workflows/release.yaml
  .gitignore
  .idea/workspace.xml
  CHANGELOG.md
  package-lock.json
  package.json
  scripts/test.sh
  {}
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

perf: format project using prettier
  .github/workflows/format-and-lint.yaml
  .github/workflows/release.yaml
  CHANGELOG.md
  src/components/AppointmentCard.svelte
  src/components/Checkbox.svelte
  src/components/appointment-detail/FriendsBadge.svelte
  src/components/appointments/AppointmentCard.svelte
  src/components/appointments/BannerRequestSent.svelte
  src/components/friends/AddFriendCard.svelte
  src/components/friends/AddFriendList.svelte
  src/models/appointment.ts
  src/models/friend-requests.ts
  src/routes/api/change-password/+server.ts
  src/routes/api/regenerate-token/+server.ts
  src/routes/api/reset-password/+server.ts
  src/routes/api/unvote/+server.ts
  src/routes/appointments/[appointmentId]/+page.svelte
  src/routes/change-password/+page.svelte
  src/routes/confirm-registration/+page.server.ts
  src/routes/login/+page.server.ts
  src/routes/notifications/+page.server.ts
  src/routes/resetpassword/+page.svelte
  src/utils/api-call.ts
  src/utils/notification-messages.ts
  src/utils/notification-time.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Revert "perf: format project using prettier"
  .github/workflows/format-and-lint.yaml
  .github/workflows/release.yaml
  CHANGELOG.md
  src/components/AppointmentCard.svelte
  src/components/Checkbox.svelte
  src/components/appointment-detail/FriendsBadge.svelte
  src/components/appointments/AppointmentCard.svelte
  src/components/appointments/BannerRequestSent.svelte
  src/components/friends/AddFriendCard.svelte
  src/components/friends/AddFriendList.svelte
  src/models/appointment.ts
  src/models/friend-requests.ts
  src/routes/api/change-password/+server.ts
  src/routes/api/regenerate-token/+server.ts
  src/routes/api/reset-password/+server.ts
  src/routes/api/unvote/+server.ts
  src/routes/appointments/[appointmentId]/+page.svelte
  src/routes/change-password/+page.svelte
  src/routes/confirm-registration/+page.server.ts
  src/routes/login/+page.server.ts
  src/routes/notifications/+page.server.ts
  src/routes/resetpassword/+page.svelte
  src/utils/api-call.ts
  src/utils/notification-messages.ts
  src/utils/notification-time.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

perf: format project using prettier
  .github/workflows/format-and-lint.yaml
  .github/workflows/release.yaml
  .idea/workspace.xml
  CHANGELOG.md
  src/components/Checkbox.svelte
  src/components/appointments/BannerRequestSent.svelte
  src/components/friends/AddFriendList.svelte
  src/models/appointment.ts
  src/models/friend-requests.ts
  src/routes/api/change-password/+server.ts
  src/routes/api/regenerate-token/+server.ts
  src/routes/api/reset-password/+server.ts
  src/routes/api/unvote/+server.ts
  src/routes/appointments/[appointmentId]/+page.svelte
  src/routes/change-password/+page.svelte
  src/routes/confirm-registration/+page.server.ts
  src/routes/login/+page.server.ts
  src/routes/notifications/+page.server.ts
  src/routes/resetpassword/+page.svelte
  src/utils/api-call.ts
  src/utils/notification-messages.ts
  src/utils/notification-time.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

fix(eslint): ignore dev-dist folder
  .eslintignore
Due: none

fix(eslint): ignore variables starting with _
  .eslintrc.cjs
Due: none

fix(eslint): add globals according to app.d.ts
  .eslintrc.cjs
Due: none

fix(eslint): resolve eslint errors
  .idea/workspace.xml
  src/components/notifications/NotificationCard.svelte
  src/lib/ReloadPrompt.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Path conditions:
  prettier --write --plugin-search-dir=.: any of: *.{js,ts,css,scss,postcss,md,json,svelte}
  prettier --check --plugin-search-dir=.: any of: *.{js,ts,css,scss,postcss,md,json,svelte}
  eslint: any of: *.{js,ts,svelte}
