Repository dan-alin/oint: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

fix(tsc): fix all type errors
  .eslintrc.cjs
  .idea/workspace.xml
  src/firebase.js
  src/routes/appointments/+page.server.ts
  src/routes/change-password/+page.server.ts
  src/routes/confirm-registration/+page.server.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

fix(lint-staged): add cjs and mjs checks
  .idea/workspace.xml
  .lintstagedrc
Due: none

perf(root): run prettier
  .eslintrc.cjs
Due: none

perf(root): eslint, vercel, prettier
  .eslintrc.cjs
  .idea/workspace.xml
  src/components/InputAction.svelte
  src/components/InputFile.svelte
  src/components/InputText.svelte
  src/components/Select.svelte
  src/routes/change-password/+page.server.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

fix(ci): show print variables
  .github/workflows/format-and-lint.yaml
  .idea/workspace.xml
Due: none

feat: add change profile image
  src/components/profile/ChangeProfilePictureModal.svelte
  src/routes/api/profile-image/+server.ts
  src/routes/profile/+page.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

fix(ci): add outputs
  .github/workflows/format-and-lint.yaml
  .idea/workspace.xml
Due: none

fix(ci): update table
  .github/workflows/format-and-lint.yaml
Due: none

fix(lint-staged): add yaml format
  .idea/workspace.xml
  .lintstagedrc
Due: none

fix(ci): update table headings
  .github/workflows/format-and-lint.yaml
  .idea/workspace.xml
Due: none

feat(ci): versioning and perf (#158)
  .eslintignore
  .eslintrc.cjs
  .github/workflows/changelog.yml
  .github/workflows/format-and-lint.yaml
  .github/workflows/release.yaml
  .gitignore
  .idea/workspace.xml
  .lintstagedrc
  CHANGELOG.md
  package.json
  scripts/test.sh
  src/components/Checkbox.svelte
  src/components/InputAction.svelte
  src/components/InputFile.svelte
  src/components/InputText.svelte
  src/components/Select.svelte
  src/components/appointments/BannerRequestSent.svelte
  src/components/friends/AddFriendList.svelte
  src/components/notifications/NotificationCard.svelte
  src/firebase.js
  src/lib/ReloadPrompt.svelte
  src/models/appointment.ts
  src/models/friend-requests.ts
  src/routes/api/change-password/+server.ts
  src/routes/api/regenerate-token/+server.ts
  src/routes/api/reset-password/+server.ts
  src/routes/api/unvote/+server.ts
  src/routes/appointments/+page.server.ts
  src/routes/appointments/[appointmentId]/+page.svelte
  src/routes/change-password/+page.server.ts
  src/routes/change-password/+page.svelte
  src/routes/confirm-registration/+page.server.ts
  src/routes/login/+page.server.ts
  src/routes/notifications/+page.server.ts
  src/routes/resetpassword/+page.svelte
  src/utils/api-call.ts
  src/utils/notification-messages.ts
  src/utils/notification-time.ts
  {}
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

feat(ci): add secret
  .github/workflows/release.yaml
  .idea/workspace.xml
Due: none

fix(ci): update github secret
  .github/workflows/release.yaml
Due: none

fix(ci): rename GITHUB_SECRET into GITHUB_TOKEN
  .github/workflows/release.yaml
Due: none

fix(app.css): changed path for icons
  src/app.css
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

fix(app.css): font path)
  src/app.css
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

feat(ci): add release-please prints
  .github/workflows/release.yaml
  .idea/workspace.xml
Due: none

fix(ci): parse output
  .github/workflows/release.yaml
Due: none

fix(layout): set prerender to false
  src/routes/+layout.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

fix(ci): remove jq
  .github/workflows/release.yaml
  .idea/workspace.xml
Due: none

fix(ci): add echo
  .github/workflows/release.yaml
  .idea/workspace.xml
Due: none

fix(ci): rename step
  .github/workflows/release.yaml
Due: none

fix: profile page margins
  src/routes/profile/+page.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

fix(lint-staged): add md rule
  .idea/workspace.xml
  .lintstagedrc
Due: none

feat: update action
  .github/workflows/release.yaml
  .idea/workspace.xml
Due: none

fix(prettier): remove changelog from prettier listed files
  .idea/workspace.xml
  package.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

Merge branch 'develop' into feat/profile
  src/components/HeaderMenu.svelte
  src/routes/profile/+page.svelte
  src/routes/profile/account-info/+page.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

fix: handle release only if is not made by bot
  .github/workflows/release.yaml
  .idea/workspace.xml
  .prettierignore
Due: none

fix(ci): add merge message
  .github/workflows/release.yaml
  .idea/workspace.xml
Due: none

fix(ci): error if vercel deploy is null
  .github/workflows/format-and-lint.yaml
  .idea/workspace.xml
Due: none

fix(ci): vercel url
  .github/workflows/format-and-lint.yaml
  .idea/workspace.xml
Due: none

feat: informazioni account
  src/routes/profile/account-info/+page.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

fix(fonts): adds medium, semibold and bold fonts
  src/app.css
  static/fonts/Raleway/Raleway-Bold.ttf
  static/fonts/Raleway/Raleway-Medium.ttf
  static/fonts/Raleway/Raleway-SemiBold.ttf
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

fix(app.css): fix font path
  src/app.css
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

chore(package.json): adds --open argument on dev script
  package.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

feat(enum): adds Routes enum
  src/enums.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

feat(utils): implements put method in apiCall
  src/utils/api-call.ts
  src/utils/time.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

feat(InputText): adds onInput callback
  src/components/InputText.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

feat(FriendsBadge): rework friends badge
  src/components/appointment-detail/FriendsBadge.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

fix(root layout): hides navbar from the appointment detail page
  src/routes/+layout.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Path conditions:
  prettier --write --plugin-search-dir=.: any of: *.{js,ts,css,scss,postcss,md,json,svelte}
  prettier --check --plugin-search-dir=.: any of: *.{js,ts,css,scss,postcss,md,json,svelte}
  eslint: any of: *.{js,ts,svelte}
